<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /lovegifts/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /lovegifts/index.php [L]
</IfModule>

